@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

.hero {
    background-color: #1F2937;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 15px 195px 0 195px;
}

.nav-bar h2 {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    font-size: 18px;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.text {
    width: 400px;
}

.text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0;
}

.image {
    background-color: #E5E7EB;
    width: 500px;
    height: 250px;
    flex-shrink: 0;
    margin-left: 60px;
}

.button1 {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    padding: 5px 30px;
    border-radius: 5px;
}

.hero-content {
    display: flex;
    margin: auto;
}